@mixin aboutMargins {
  margin: 5px 0px;
}

.about_span {
  font-weight: 500;
  color: #1f232c;
  @include aboutMargins();
}

.about_span_container {
  position: relative;
}

.about_span_befeore {
  position: absolute;
  top: 50%;
  left: -170%;
  border-bottom: 2px solid #f5f5f8;
  width: 85px;
}

.about_span_after {
  position: absolute;
  top: 50%;
  left: 120%;
  border-bottom: 2px solid #f5f5f8;
  width: 85px;
}

.about_tittle {
  font-size: 2em;
  font-weight: 500;
  color: #1f232c;
  @include aboutMargins();
}

@media (max-width: $mdBreakpoint) {
  .about_span {
    font-size: 0.8em;
  }

  .about_tittle {
    font-size: 1.5em;
  }

  .about_span_befeore {
    position: absolute;
    top: 50%;
    left: -170%;
    width: 60px;
  }

  .about_span_after {
    left: 120%;
    width: 60px;
  }
}
