$fontColor: white;

$xsBreakpoint: 375px;
$smBreakpoint: 599px;
$mdBreakpoint: 959px;
$lgBreakpoint: 1279px;
$xlBreakpoint: 1919px;

$minBigPhone: 600px;
$minTablet: 960px;
$minLaptop: 1280px;

.title {
  font-size: 1em;
  font-weight: 600;
  color: $fontColor;
}

.subtitle {
  font-size: 0.9em;
  font-weight: 400;
  color: $fontColor;
}
