@import "project_tittle", "project_carousel";

$fontColor: #1f232c;

$xsBreakpoint: 375px;
$smBreakpoint: 600px;
$mdBreakpoint: 959px;
$lgBreakpoint: 1279px;
$xlBreakpoint: 1919px;

$minTablet: 960px;
$minLaptop: 1280px;

.project_container {
  padding: 90px 0px;
  background-color: white;
  overflow: hidden;
}

.project_grid_containerfirst {
  margin: 20px 0px;
}

@media (max-width: $mdBreakpoint) {
  .project_container {
    padding: 30px 10px;
  }

  .project_grid_containerfirst {
    margin: 0px;
  }
}
