$fontColor: #1f232c;

$xsBreakpoint: 375px;
$smBreakpoint: 600px;
$mdBreakpoint: 959px;
$lgBreakpoint: 1279px;
$xlBreakpoint: 1919px;

$minTablet: 960px;
$minLaptop: 1280px;

.header_name_logo {
  cursor: pointer;
  color: $fontColor;
  font-size: 1.5em;
  font-weight: 800;
}

@media (max-width: $xsBreakpoint) {
}
